@font-face {

font-family: 'impact';
src: url(Fonts/impact.ttf);
font-weight:lighter;

}
.container::-webkit-scrollbar{
    width: 9px;
}
.container::-webkit-scrollbar-track{
    background-color: black;
    border-radius: 15px;
}

.container::-webkit-scrollbar-thumb{
    background-color: antiquewhite;
    border-radius: 15px;

}
body{
    background-size: 100%;
    background-repeat: no-repeat;
}
*{
margin: 0;
padding: 1;
font-family: sans-serif;
}
h1 {
font-size: 69px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight:lighter;
top: 32px;
margin-left: 5%;
margin-right: 5%;
}

.headerm{
    background-color: rgb(0, 35, 66);
    color: rgb(245, 250, 255);

}
.kujtime{
   
   position: absolute;
   top: 2.5%;
   right: 7%;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    height: 42px;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,#7c8aff,#002647);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
}
.kujtime:hover{
  
        box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
        background-image: linear-gradient(180deg,#fcfcfc,#002647);

}

.main{
    position: absolute;
    top: 45%;
    left: 35%;
    color: white;
}
.msuse{
    position: absolute;
    top: 3.3%;
    left: 27.6%;
}
.arrow{
    position: absolute;
    left: 44%;
    top: 60%;
    width: 10%;
}


.site-footer
{
    position: absolute;
    top: 190%;
  background-color:rgb(0, 35, 66);
  padding: 45px 30px 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:10px;
  letter-spacing:2px
}
.site-footer a
{
  color:#0a0a0a;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#c6e4e0
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}



